<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlatFileList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlatFileList.Properties.Settings>
            <setting name="IsUpgreated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsExcludeHiddenDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsExcludeSystemDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsExcludeDotStartDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsExcludeHiddenFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsExcludeSystemFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsExcludeDotStartFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsIgnoreGettingLastSaveTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowScaleTransformPer" serializeAs="String">
                <value>100</value>
            </setting>
        </FlatFileList.Properties.Settings>
    </userSettings>
</configuration>